<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--<add key="WFNConnStr" value="Data Source=WINDBMSSQL3D\SQL2012INST1;Initial Catalog=HR;Persist Security Info=True;User ID=Meta4_Reader;Password=M31@read" />-->
    <!--<add key="WFNConnStr" value="Data Source=WINDBMSSQL3D\SQL2012INST1;Initial Catalog=Repository_Evolution;Persist Security Info=True;User ID=sales_force;Password=Vbscript19^^" />-->
    <add key="WFNConnStr" value="Data Source=SQLCLUST121\SQL2012INST1;Initial Catalog=HR;Persist Security Info=True;User ID=Meta4_Reader;Password=M31@read"/>
    <!--<add key="MailHost" value="10.4.35.78" />-->
    <add key="MailHost" value="smtp.insideexide.com" />
    <add key="AlertEmail" value="wendong.xu@motrexllc.com" />
    <add key="Environment" value="PROD" />
    <add key="DumpADInfoToDB" value="Y" />
  </appSettings>
</configuration>